.card {
  max-width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.5s;
}

.card:hover {
  background: rgba(173, 173, 173, 0.05);
}

.card ul {
  padding: 1rem;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.card ul li {
  cursor: pointer;
  position: relative;
}

.svg {
  transition: all 0.3s;
  padding: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  color: rgb(255, 174, 0);
  fill: currentColor;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.text {
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: rgb(255, 174, 0);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 8px);
  white-space: nowrap;
  pointer-events: none;
  box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

.isoPro {
  transition: 0.5s;
}

.isoPro:hover a > .svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.isoPro:hover .text {
  opacity: 1;
  transform: translate(-35%, -12px) skew(-5deg);
}

.isoPro:hover .svg {
  transform: translate(5px, -5px);
}

.isoPro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}

.isoPro:hover span {
  opacity: 1;
}

.isoPro:hover span:nth-child(1) {
  opacity: 0.2;
}

.isoPro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.isoPro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}